Package: things_plex_service_template
Version: 0.10.6
Replaces: things_plex_service_template
Section: non-free/misc
Priority: optional
Architecture: armhf
Maintainer: Aleksandrs Livincovs <aleksandrs.livincovs@gmail.com>
Description: Thingplex things_plex_service_template is IoT rule and flow engine.
