[Unit]
Description=Tibber Pulse app

[Service]
Type=simple
ExecStart=/usr/bin/tibber
User=tibber
WorkingDirectory=/var/lib/futurehome/tibber
Restart=always
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target